
html {
  font-family: 'Helvetica Neue', arial, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  font-weight: 100;
  color: #625f5d;
}

body {
  background: #efefef;
}

h1 {
  font-weight: 100;
}

p {
  text-align: left;
  line-height: 20px;
}

a {
  text-decoration: none;
}
