
.landing-header {
  background: #6cf;
  margin: 0 auto;
  overflow: hidden;
}

.landing-header-container {
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.title {
  color: white;
  width: 300px;
  font-size: 20px;
  padding: 20px 20px;
  margin: 0 auto;
  overflow: hidden;
}

.add-new {
  margin-bottom: 20px;
}

.footer-wrapper {
  height: 200px;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;  /* Height of the footer */
  background: #6cf;
}

.container {
  width: 500px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  background: white;
}

.list {
  padding-top: 20px;
  padding-bottom: 20px;
}

.list-item {
  margin: 0 30px;
  padding: 20px 0;
  border-bottom: solid #efefef 1px;
}

.list-item:last-child {
  border-bottom:none;
}

.body-index {
  text-align: canter;
  height: 100%;
  margin-bottom: 60px;
}

.todo-description {
  margin: 50px 30px;
}

.list-buttons {
  margin: 0 auto;
  overflow: hidden;
}

.delete-button {
  border: solid #d44831 1px;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  margin: 50px 0 30px 0;
}

.delete-button-text {
  color: #d44831;
  text-align: center;
  padding: 20px 100px;
}

.create-button {
  border: solid #27cd00 1px;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  margin: 50px 0 30px 0;
}

.create-button-text {
  color: #27cd00;
  text-align: center;
  padding: 20px 100px;
}

.wrapper-input-todo-description {
  height: 200px;
  margin: 30px 30px 0 30px;
  border: solid #efefef 1px;
  border-radius: 5px;
}

.input-todo-description {
  padding: 20px 20px 20px 20px;
  width: 90%;
  height: 80%;
  border: none;
  line-height: 20px;
}

.wrapper-input-todo-title {
  height: 50px;
  margin: 30px 30px 0 30px;
  border: solid #efefef 1px;
  border-radius: 5px;
}

.input-todo-title {
  padding: 20px 20px 20px 20px;
  width: 90%;
  height: 10px;
  border: none;
  line-height: 20px;
}

.save-button {
  background: none;
  border: solid #27cd00 1px;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  margin: 50px 0 30px 0;
  color: #27cd00;
  text-align: center;
  padding: 20px 100px;
  font-family: 'Helvetica Neue', arial, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  font-weight: 100;
  font-size: 100%;
}


